/* modal.css - shared between item_modal and handover_modal */
.main-content {
  padding-top: 0;
  margin-top: 0;
}

h1 {
  font-weight: var(--fw-bold);
}

/* ---------- MODAL ---------- */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.45);
  align-items: center;
  justify-content: center;
  z-index: 999;
}

#itemDetailModal {
  z-index: 1000;
}

#handoverModal {
  z-index: 1100; /* higher than item modal */
}

.modal.show {
  display: flex;
}

/* ---------- MODAL CONTENT ---------- */
.modal-content {
  background-color: var(--color-secondary);
  padding: 2rem;
  border-radius: 1.2rem;
  width: 90%;
  max-width: 600px;
  max-height: 85vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
  border: 1.5px solid #cbd5e1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* scrollbar styling */
.modal-content::-webkit-scrollbar {
  width: 4px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 2px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

/* ---------- CLOSE BUTTON ---------- */
.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 1.5px solid transparent;
  border-radius: 1rem;
  padding: 0.6rem 1.2rem;
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  cursor: pointer;
  transition: all 0.2s ease;
  color: #ef4444;
}

.close:hover {
  background: #e53935;
  color: white;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 768px) {
  .modal-body {
    flex-direction: column;
    align-items: center;
  }

  .item-image {
    flex: none;
  }

  .item-image img,
  .modal-image-na {
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 426px) {
  .modal-content {
    width: 70%;
  }
}
